@page "/Length"

<PageTitle>@LengthConverter.Name</PageTitle>

<h1>@LengthConverter.Name</h1>


@code {
	public static class LengthConverter 
	{
		public static string Name = "Pituus";


	}

	//(m)*3.28084=feet
}