@page "/Temperature"

<PageTitle>[Super] Temperature Converter</PageTitle>

<h1>Temperature</h1>

<div id="temperatures" oninput="UpdateTemperature(event.target.id, event.target.value); UpdateElements(event.target.id);">
	<div>
		<input id="celsius" type="text" placeholder="0" />
		<span>°C</span>
	</div>

	<div>
		<input id="kelvin" type="text" placeholder="273.15"  />
		<span>K</span>
	</div>

	<div>
		<input id="fahrenheit" type="text" placeholder="32"  />
		<span>°F</span>
	</div>	
</div>

<script>
	var temperature; // Base temperature - equal to celsius

	function UpdateTemperature(SOURCE_ID, VALUE) {
		// Handle empty input
		if (VALUE.length == 0) {
			temperature = null; // Clear temperature
			return; // Abort
		}

		// Validate input and changed element value
		// - This disallows "-.X" despite it correctly evaluating to "-0.X"!
		document.getElementById(SOURCE_ID).value = VALUE = VALUE.replace(/[^0-9.-]+|[.-]{2,}|(?<=\..*)\.|(?<=.+)-/, '');

		// Parse valid input
		// - Valid numbers are cast to remove leading zeros and prevent string concatenation
		// - NaN is assumed to be 0 for display purposes
		VALUE = isNaN(+VALUE) ? 0 : +VALUE;

		// Update base temperature
		switch(SOURCE_ID) {
			case "celsius":
				temperature = VALUE;
				break;
			case "kelvin":
				temperature = VALUE - 273.15;
				break;
			case "fahrenheit":
				temperature = (VALUE - 32) / 1.8;
				break;

			// HANDLE NEW TEMPERATURES HERE AND IN UpdateElements()!

			default:
				console.warn("UpdateTemperature()\nCannot calculate base temperature from unknown element ID " + SOURCE_ID);
		}
	}

	function UpdateElements(EXCEPT_ID) {
		// Update all temperature elements
		for (let elem of document.getElementById("temperatures").getElementsByTagName("input")) {
			if (elem.id == EXCEPT_ID) {
				continue; // Element is not updated
			}

			// Handle no temperature
			if (temperature === null) {
				elem.value = ""; // Element is cleared
				continue;
			}

			// Calculate element value
			var result;

			switch (elem.id) {
				case "celsius":
					result = temperature;
					break;
				case "kelvin":
					result = temperature + 273.15;
					break;
				case "fahrenheit":
					result = temperature * 1.8 + 32;
					break;

				// HANDLE NEW TEMPERATURES HERE AND IN UpdateTemperature()!

				default:
					console.warn("UpdateDisplay()\Cannot update value for unknown element ID " + elem.id);
			}
			
			// Update element value
			elem.value = result;
		}
	}
</script>