@page "/Temperature"

<PageTitle>@TemperatureConverter.Name</PageTitle>

<h1>@TemperatureConverter.Name</h1>


@code {
	public static class TemperatureConverter
	{
		public static string Name = "Lämpötila";


	}

    // public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    // public int temperatureK => (temperatureC + 274.15)
    //f to k
}