@page "/Weight"

<PageTitle>[Super] Weight Converter</PageTitle>

<h1>Weight</h1>


<div>
    <label>From unit:</label>
    <select @bind="muuntooperaatio">
        <option value="m">Milligram</option>
        <option value="g">Gram</option>
        <option value="k">Kilogram</option>
        <option value="t">Ton</option>
        <option value="o">Ounce</option>
        <option value="p">Pound</option>
        <option value="s">Stone</option>
    </select>
</div>

<div>
    <label>Amount:</label>
    <input type="number" @bind="transvalue" />
</div>

<div>
    <label>To unit:</label>
    <select @bind="muuntooperaatio2">
        <option value="m">Milligram</option>
        <option value="g">Gram</option>
        <option value="k">Kilogram</option>
        <option value="t">Ton</option>
        <option value="o">Ounce</option>
        <option value="p">Pound</option>
        <option value="s">Stone</option>
    </select>
</div>

<button @onclick="Calculate">Calculate</button>

@if (finaaalitulos.HasValue)
{
    <h3>Result: @finaaalitulos</h3>
}

@code {
    private double transvalue { get; set; }
    private double? finaaalitulos { get; set; }

    private double välivalue;

    private string muuntooperaatio { get; set; } = "g";
    private string muuntooperaatio2 { get; set; } = "g";
    private void Calculate()

    {
        if (transvalue != null)
            switch (muuntooperaatio)
            {
                case "m":
                    välivalue = transvalue / 1000;
                    break;
                case "g":
                    välivalue = transvalue;
                    break;
                case "k":
                    välivalue = transvalue * 1000;
                    break;
                case "t":
                    välivalue = transvalue * 1000000;
                    break;
                case "o":
                    välivalue = transvalue * 28.3495;
                    break;
                case "p":
                    välivalue = transvalue * 453.59237;
                    break;
                case "s":
                    välivalue = transvalue * 6350.29;
                    break;
            }


        switch (muuntooperaatio2)
        {
            case "m":
                finaaalitulos = välivalue * 1000;
                break;
            case "g":
                finaaalitulos = välivalue;
                break;
            case "k":
                finaaalitulos = välivalue / 1000;
                break;
            case "t":
                finaaalitulos = välivalue / 1000000;
                break;
            case "o":
                finaaalitulos = välivalue / 28.3495;
                break;
            case "p":
                finaaalitulos = välivalue / 453.59237;
                break;
            case "s":
                finaaalitulos = välivalue / 6350.29;
                break;


        }

    }
}



