@page "/Weight"

<PageTitle>@WeightConverter.Name</PageTitle>

<h1>@WeightConverter.Name</h1>


@code {
	public static class WeightConverter
	{
		public static string Name = "Paino";


	}

	//kg -> imp.  (kg)/0.45359237
}